<?php /** @var umiTemplaterPHP $this */ ?>
<?php /** @var array $variables */ ?>
<?php $data = $this->macros('dispatches', 'subscribe') ?>

<h1><?=$variables['@header']?></h1>

<form action="<?=cmsController::getInstance()->getPreLang()?>/dispatches/subscribe_do/" name="sbs_frm" method="post">
    <?php if($data['subscriber_dispatches']): ?>
        <?php if (count($data['subscriber_dispatches']['nodes:items'])): ?>
            <ul>
                <?php foreach($data['subscriber_dispatches']['nodes:items'] as $newsletter): ?>
                <li>
                    <label>
                        <input type="checkbox" name="subscriber_dispatches[<?=$newsletter['attribute:id']?>]" value="<?=$newsletter['attribute:id']?>"
                            <?php if($newsletter['attribute:is_checked'] == 1): ?>
                                checked="checked"
                            <?php endif; ?>
                            />
                        <?=$newsletter['node:disp_name']; ?>
                    </label>
                </li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    <?php else: ?>
        <div>
            <input	type="text"
                      onblur="if(this.value == '') this.value = '<?=$this->translate('e-mail')?>';"
                      onfocus="if(this.value == '<?=$this->translate('e-mail')?>') this.value = '';"
                      value="<?=$this->translate('e-mail')?>"
                      class="input"
                      id="subscribe"
                      name="sbs_mail" />
        </div>
    <?php endif; ?>
    <input type="submit" class="button" value="<?=$this->translate('subscribe')?>" />
</form>