<?php
/** @var umiTemplaterPHP $this */
/** @var array $variables */
?>

<h1><?= $variables['@header'] ?></h1>

<?php $activationErrors = $this->macros('users', 'activate') ?>

<?php if (!isset($activationErrors['error'])): ?>
    <p><?= $this->translate('account-activated') ?></p>
<?php endif; ?>
