<?php /** @var umiTemplaterPHP $this */ ?>
<?php /** @var array $variables */ ?>
<?php
$userCommon = $this->getCommonVar('user');
$user = $this->getObjectById($userCommon['@id']);
?>

<form enctype="multipart/form-data" method="post" action="<?=cmsController::getInstance()->getPreLang()?>/users/settings_do/" id="con_tab_profile">
    <div>
        <label>
            <span>
                <?=$this->translate('login')?>:
            </span>
            <input type="text" name="login" class="textinputs" disabled="disabled" value="<?=$user->getValue('login')?>" />
        </label>
    </div>
    <div>
        <label>
            <span>
                <?=$this->translate('password')?>:
            </span>
            <input type="password" name="password" class="textinputs" />
        </label>
    </div>
    <div>
        <label>
            <span>
                <?=$this->translate('password-confirm')?>:
            </span>
            <input type="password" name="password_confirm" class="textinputs" />
        </label>
    </div>
    <div>
        <label>
            <span>
                <?=$this->translate('e-mail')?>:
            </span>
            <input type="text" name="email" class="textinputs" value="<?=$user->getValue('e-mail')?>" />
        </label>
    </div>

    <?=$this->render(array('form' => $this->macros('data', 'getEditForm', array($user->getId()))), 'data/formTemplate')?>

    <div>
        <input type="submit" class="button" value="<?=$this->translate('save-changes')?>" />
    </div>
</form>