<?php /** @var umiTemplaterPHP $this */ ?>
<?php /** @var array $variables */ ?>

<?=$this->render(array('steps' => $variables['purchase']['purchasing']['steps']), 'emarket/steps')?>

<form method="post" action="<?=cmsController::getInstance()->getPreLang()?>/emarket/purchase/delivery/choose/do/">
    <h4><?=$this->translate('delivery-agent')?>:</h4>

    <?php $i = 0; foreach ($variables['purchase']['purchasing']['items']['nodes:item'] as $item): ?>
        <?php ++$i;?>
        <div>
            <label>
                <input type="radio" name="delivery-id" value="<?=$item['attribute:id']?>"
                       <?=($i == 1) ? 'checked="checked"' : ''?>
                />
				<?php $price = (isset($item['attribute:price']) ? $item['attribute:price'] : 0);?>
                <?=$item['attribute:name']?> - <?=$this->render($this->macros('emarket', 'applyPriceCurrency', array($price)), 'emarket/price')?>
            </label>
        </div>
    <?php endforeach; ?>

    <div>
        <input type="submit" value="<?=$this->translate('continue')?>" class="button big" />
    </div>
</form>
